<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head :: head"></head>
<title id="pageTitle">List User</title>

<body>
<div class="app-container">
    <div class="row" style="height: 50vh;">
        <div th:replace="fragment/sidebar :: sidebar"></div>

        <div class="col-11">
            <div th:replace="fragment/header :: header"></div>

            <div class="app-content">
                <div class="projects-section">
                    <div class="projects-section-header">
                        <p>Home Management</p>
                    </div>
                    <div class="projects-section-line">
                        <div class="projects-status">

                            <div class="search-wrapper">
                                <input class="search-input" type="text" placeholder="Search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                     stroke="currentColor"
                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                     class="feather feather-search"
                                     viewBox="0 0 24 24">
                                    <defs></defs>
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <path d="M21 21l-4.35-4.35"></path>
                                </svg>
                            </div>

                        </div>
                        <div class="view-actions">
                            <a th:href="@{/user/create}" class="material-symbols-outlined app-sidebar-link"
                               style="font-size: 40px; color: #000000">
                                add_circle
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- partial -->
</body>
</html>